@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Processus Recouvrement</h1>
        <h2>Le Git fonctionne bien</h2>
    </div>
</body>
</html>
